[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/chongzhe
[access "refs/for/refs/*"]
	read = group user/chongzhe
	push = group user/chongzhe
	label-Code-Review = -2..+2 group user/chongzhe
	label-Verified = -1..+1 group user/chongzhe
	rebase = group user/chongzhe
	removeReviewer = group user/chongzhe
	submit = group user/chongzhe
[access "refs/heads/*"]
	read = group user/chongzhe
	create = group user/chongzhe
	push = +force group user/chongzhe
	pushMerge = group user/chongzhe
[access "refs/tags/*"]
	push = +force group user/chongzhe
	pushTag = group user/chongzhe
	pushSignedTag = group user/chongzhe
